/*Asterisk indicates a universal selector that applies to all elements*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

header{
    background-color: lightcoral
}

main{ 
    background-color: lightblue;
    flex: 1 0 auto;
}


footer{
    background-color: orange;
}